In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
file = 'dataset/ARL/Market_Basket_Optimisation.csv'
df = pd.read_csv(file,header=None)

In [5]:
transactions = []
for i in range(0,len(df)):
    transactions.append([str(value) for value in df.values[i]])

In [7]:
from apyori import apriori
rules = apriori(transactions=transactions,min_support = 0.003,min_cofidence=0.2,min_lift=3,min_length=2,max_length=2)

In [9]:
results = list(rules)

In [12]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    return list(zip(lhs, rhs, supports))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Product 1', 'Product 2', 'Support'])

In [13]:
resultsinDataFrame

        Product 1             Product 2   Support
0        brownies        cottage cheese  0.003466
1         chicken           light cream  0.004533
2        escalope  mushroom cream sauce  0.005733
3        escalope                 pasta  0.005866
4     fresh bread          tomato juice  0.004266
5      fresh tuna                 honey  0.003999
6   fromage blanc                 honey  0.003333
7     ground beef         herb & pepper  0.015998
8     ground beef          tomato sauce  0.005333
9     light cream             olive oil  0.003200
10      olive oil     whole wheat pasta  0.007999
11          pasta                shrimp  0.005066

In [14]:
resultsinDataFrame.nlargest(n = 10, columns = 'Support')

      Product 1             Product 2   Support
7   ground beef         herb & pepper  0.015998
10    olive oil     whole wheat pasta  0.007999
3      escalope                 pasta  0.005866
2      escalope  mushroom cream sauce  0.005733
8   ground beef          tomato sauce  0.005333
11        pasta                shrimp  0.005066
1       chicken           light cream  0.004533
4   fresh bread          tomato juice  0.004266
5    fresh tuna                 honey  0.003999
0      brownies        cottage cheese  0.003466